[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "augmentedRCBD"]
	path = augmentedRCBD
	url = https://github.com/aravind-j/augmentedrcbd
[submodule "EvaluateCore"]
	path = EvaluateCore
	url = https://github.com/aravind-j/evaluatecore
[submodule "germinationmetrics"]
	path = germinationmetrics
	url = https://github.com/aravind-j/germinationmetrics
[submodule "PGRdup"]
	path = PGRdup
	url = https://github.com/aravind-j/pgrdup
[submodule "rmelting"]
	path = rmelting
	url = https://github.com/aravind-j/rmelting
